// Define variables for your color scheme

// OLD Bootstrap variables:
$orange: #E67E22;
$gray: #0E0000;
$light-gray: #F4F4F4;




// Veloo variables:
$yellow: #F9B54F;
$red: #F3574A;
$green: #5ABFAD;
$blue: #57A9F2;

$yellow-dark: #B36F09;
$red-dark: #BC4339;
$green-dark: #1E8371;
$blue-dark: #2577C0;

$white: #FFFFFF;
$black-100: #F1F1F1;
$black-400: #BABABA;
$black-800: #8B8B8B;
$black-1000: #000000;
