.home_logo {
  width: 160px;
}

.carousel {
  width:100vw;
  height:100vh;
}

.carousel-inner, .carousel-item {
  height:100%;
}

.carousel-item {
  padding:32px 24px;
  text-align:center;
  position: relative;

  p {
    //width:50%;
    margin:0 auto;
    padding-left: 10px;
    padding-right: 10px;
  }

  p, h1 {
    opacity: 50%;
  }
}

.carousel-item:nth-child(1) {
  background: $yellow;
}

.carousel-item:nth-child(2) {
  background: $blue;
}

.carousel-item:nth-child(3) {
  background: $green;
}

.btn_home {
  width: 200px;
  margin:16px auto;
  display: inline-block;
}

.btn_home_secondary {
  position:absolute;
  bottom:24px;
  width: 100px;
  bottom: 24px;
  left: calc(50% - 50px);
}
