.maps {
  margin-top: -24px;
}

.map {
  bottom: 0;
  min-width: 100%;
  max-width: 100%;
  min-height: 60vh;
  max-height: 60vh;
  position: absolute;
  top: 0px;
  object-fit: cover;
  // display: none;
  visibility: hidden;
}

.mapboxgl-canvas {
  height:100% !important;
  object-fit: cover;
}
.mapboxgl-ctrl-logo, .mapboxgl-ctrl-bottom-right {
  display: none !important;
}

.itinerary-wrapper {
  position: fixed;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  bottom: 0;
  z-index: 999;
  padding: 32px 16px 16px 16px;
  background: white;
  width:100vw;
}


/* Animation */
.anim-icon {
  animation: gelatine 0.5s;
}
@keyframes gelatine {
  from, to { transform: scale(1, 1); }
  25% { transform: scale(0.9, 1.1); }
  50% { transform: scale(1.1, 0.9); }
  75% { transform: scale(0.95, 1.05); }
}
.mapboxgl-map {
  position: absolute !important;

}
