.maps {
  margin-top: -24px;
}

.map {
  bottom: 0;
  min-width: 100%;
  max-width: 100%;
  min-height: 80vh;
  max-height: 80vh;
  position: absolute;
  top: 0px;
  object-fit: cover;
  // display: none;
  visibility: hidden;
}

.mapboxgl-canvas {
  height:100% !important;
  object-fit: cover;
}

.itinerary-wrapper {
  position: fixed;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  bottom: 0;
  z-index: 999;
  padding: 32px 16px 16px 16px;
  background: white;
  width:100vw;
}

.mapboxgl-map {
  position: absolute !important;
}
