
<div id="carouselExampleSlidesOnly" data-bs-interval="5000" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="" alt="">
      <h1>Slide 1</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, sed magni voluptatum expedita vitae, error ipsum enim velit incidunt beatae dicta officia labore eligendi optio ratione adipisci odit culpa quos!</p>
    </div>
    <div class="carousel-item">
      <h1>Slide 2</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur velit, porro quia, sequi vero dolor perferendis ipsum facilis modi veniam minus laborum aliquam pariatur voluptate enim animi molestiae sit ullam.</p>
    </div>
    <div class="carousel-item">
      <h1>Slide 3</h1>
      <p>lorem</p>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
