a {
  text-decoration: none;
  color:$black;
}

.btn-primary {
  background:$white !important;
  box-shadow: $main-shadow !important;
  border-radius: 10px !important;
  border:1px solid $white !important;
}

// .btn-secondary {
//   position:absolute;
//   bottom:24px;
//   width: 200px;
//   bottom: 24px;
//   left: calc(50% - 100px);
// }

.btn-secondary {
  color:$blue;
  font-weight:700;
  position:center;

}
