a {
  text-decoration: none;
  color:$black;
}

.btn-primary {
  background:$white !important;
  box-shadow: $main-shadow !important;
  border-radius: 10px !important;
  border:1px solid $white !important;
}
