.form-control, .form-select {
  box-shadow: $main-shadow;
  border-radius: 10px;
}

.form-control {
  background: #F4F4F4;
}

.form-label {
  margin-bottom: 0;
}

.user_remember_me {
  // display: flex;
  color: red;
}
