<div class="navigation">
  <div class="directions">
    <div class="d-flex">
      <div class="arrows">
        <%= image_tag 'dir_half_turn_green.png' %>
        <h2>200 m</h2>
      </div>
      <div class="instructions">
        <h2>Avenue Janvier</h2>
        <h3>puis Place de Bretagne</h3>
      </div>
    </div>
    <div class="line-direction"></div>
  </div>
  <div class="summary">
    <div class="clock item">
      <%= image_tag 'bottom_clock.png', width: '17', height: '16', :class => ""  %>
      <p><strong>10</strong> min</p>
    </div>
    <div class="distance item">
      <%= image_tag 'bottom_distance.png', width: '17', height: '16', :class => ""  %>
      <p><strong>2</strong> km</p>
    </div>
    <div class="arrival item">
      <%= image_tag 'bottom_flag.png', width: '11', height: '12', :class => ""  %>
      <p><strong>21h32</strong></p>
    </div>
  </div>
</div>
